body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 30px;
}

label {
    display: block;
    color: #444;
    text-align: left;
    margin-bottom: 10px;
}